@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 1130px;
}

a {
    text-decoration: none;
    color: black;
}

.topmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.logoleft {
    height: 50px;
    width: 50%;
}

.logoleft>tr {
    border-right: 1px solid rgb(255, 255, 255);
}

.logoright {
    padding-top: 15px;
    height: 50px;
    width: 50%;
}

table {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}



.midbar {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.midbar>img {
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

.midbar>p {
    text-align: left;
    border-radius: 20px;
}

.midbar>h3 {
    text-align: left;
    border-radius: 20px;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: #e2e2e2;
    align-items: center;
    padding-top: 20px;
}

.navbar>a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

.navbar>a:hover {
    color: white;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}

.navbar>#pink:hover {
    color: white;
    border-radius: 10px;
    background-color: #ff3d7f;
}

.bottombar {
    margin-top: 20px;
    background-color: #f6f6f6;
    padding-top: 50px;
    padding-bottom: 20px;
    align-items: center;
    width: 100%;
    height: 100px;
}

.bottombar>button {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: black;
    height: 70px;
    width: 255px;
    margin-left: 20px;
    border-radius: 10px;
    border-width: 2px;
    box-shadow: none;
}

.bottombar>#pinkb {
    height: 70px;
    width: 255px;
    margin-left: 20px;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgb(255, 84, 112);
    box-shadow: none;
}

.bottombar>button:hover {
    background-color: #c7c7c7;
}

.bottombar>#pinkb:hover {
    background-color: #c7c7c7;
}

.bottom {
    background-color: #f6f6f6;
    margin-top: 15px;
    height: 230px;
    width: 100%;
}

footer {
    background-color: #f6f6f6;
    border-top: 1px solid black;
    margin-top: 0px;
    height: 80px;
    width: 100%;
    padding-top: 5px;
}

table {
    table-layout: fixed;
}

td {
    border-right: 1px solid black;

}